/*rule 1 */
.main .list {
    color:blue
}
/*rule 2 */
.subsection {
    color: blue;
}


/*rule 1 */
#subsections{
    color: red;
}
/*rule 2 */
.main.list{
    color: purple;
}


/*rule 1 */
#subsection{
    background-color: yellow;
    color: blue;
}
/*rule 2 */
.main #subsection{
color: red;
}


*{
    color: black;
}
p{
background-color: yellow;
}